In [2]:
import pandas as pd

In [3]:
# reads & stores the train data in a pandas dataframe
df_test = pd.read_csv("/Users/nialdaly/Documents/ey_nextwave/data/data_test.csv", index_col=False)

# prints out the top 5 rows
df_test.head(5)

,Unnamed: 0,hash,trajectory_id,time_entry,time_exit,vmax,vmin,vmean,x_entry,y_entry,x_exit,y_exit
0,0,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_0,11:43:17,11:50:17,NaN,NaN,NaN,3.773413e+06,-1.909828e+07,3.773111e+06,-1.914508e+07
1,1,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_2,12:21:37,12:21:37,0.0,0.0,0.0,3.773199e+06,-1.914354e+07,3.773199e+06,-1.914354e+07
2,2,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_3,12:34:27,13:14:11,NaN,NaN,NaN,3.763760e+06,-1.921342e+07,3.771757e+06,-1.911092e+07
3,3,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_4,13:25:33,13:43:13,NaN,NaN,NaN,3.773385e+06,-1.911344e+07,3.773131e+06,-1.914465e+07
4,4,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_5,15:03:32,15:10:32,NaN,NaN,NaN,3.773118e+06,-1.914490e+07,NaN,NaN

In [7]:
# info on the training data
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202937 entries, 0 to 202936
Data columns (total 12 columns):
Unnamed: 0       202937 non-null int64
hash             202937 non-null object
trajectory_id    202937 non-null object
time_entry       202937 non-null object
time_exit        202937 non-null object
vmax             54705 non-null float64
vmin             54705 non-null float64
vmean            57359 non-null float64
x_entry          202937 non-null float64
y_entry          202937 non-null float64
x_exit           169422 non-null float64
y_exit           169422 non-null float64
dtypes: float64(7), int64(1), object(4)
memory usage: 18.6+ MB

In [8]:
# describes the training data
df_test.describe()

,Unnamed: 0,vmax,vmin,vmean,x_entry,y_entry,x_exit,y_exit
count,202937.000000,54705.000000,54705.000000,57359.000000,2.029370e+05,2.029370e+05,1.694220e+05,1.694220e+05
mean,101468.000000,2.821230,2.421897,2.595662,3.760384e+06,-1.922144e+07,3.760393e+06,-1.922188e+07
std,58583.010127,7.782798,7.278356,7.332818,8.976732e+03,7.670937e+04,8.840276e+03,7.487858e+04
min,0.000000,-1.000000,-1.000000,-1.000000,3.741032e+06,-1.937675e+07,3.741020e+06,-1.937675e+07
25%,50734.000000,0.000000,0.000000,0.000000,3.755199e+06,-1.927516e+07,3.755436e+06,-1.927261e+07
50%,101468.000000,0.000000,0.000000,0.000000,3.760110e+06,-1.923015e+07,3.760101e+06,-1.923040e+07
75%,152202.000000,0.570000,0.280000,0.508373,3.767453e+06,-1.916959e+07,3.767306e+06,-1.917234e+07
max,202936.000000,153.000000,124.000000,124.000000,3.776975e+06,-1.904574e+07,3.777004e+06,-1.904699e+07

In [9]:
# all records between 3 and 4pm
df_test = df_test[(df_test['time_entry'] >= '15:00:00') & (df_test['time_exit'] <= '16:00:00')]

df_test.head()

,Unnamed: 0,hash,trajectory_id,time_entry,time_exit,vmax,vmin,vmean,x_entry,y_entry,x_exit,y_exit
4,4,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_5,15:03:32,15:10:32,NaN,NaN,NaN,3.773118e+06,-1.914490e+07,NaN,NaN
7,7,000479418b5561ab694a2870cc04fd43_25,traj_000479418b5561ab694a2870cc04fd43_25_10,15:29:09,15:30:56,NaN,NaN,NaN,3.769978e+06,-1.934136e+07,NaN,NaN
10,10,000506a39775e5bca661ac80e3f466eb_29,traj_000506a39775e5bca661ac80e3f466eb_29_5,15:26:08,15:26:08,NaN,NaN,NaN,3.757468e+06,-1.923860e+07,NaN,NaN
13,13,0005401ceddaf27a9b7f0d42ef1fbe95_1,traj_0005401ceddaf27a9b7f0d42ef1fbe95_1_4,15:35:18,15:42:05,NaN,NaN,NaN,3.760505e+06,-1.935500e+07,NaN,NaN
23,23,0006535be25bb52dd06983447880c964_5,traj_0006535be25bb52dd06983447880c964_5_12,15:22:06,15:22:06,NaN,NaN,NaN,3.776037e+06,-1.916993e+07,NaN,NaN

In [11]:
df_test.head()

,Unnamed: 0,hash,trajectory_id,time_entry,time_exit,vmax,vmin,vmean,x_entry,y_entry,x_exit,y_exit
4,4,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_5,15:03:32,15:10:32,NaN,NaN,NaN,3.773118e+06,-1.914490e+07,NaN,NaN
7,7,000479418b5561ab694a2870cc04fd43_25,traj_000479418b5561ab694a2870cc04fd43_25_10,15:29:09,15:30:56,NaN,NaN,NaN,3.769978e+06,-1.934136e+07,NaN,NaN
10,10,000506a39775e5bca661ac80e3f466eb_29,traj_000506a39775e5bca661ac80e3f466eb_29_5,15:26:08,15:26:08,NaN,NaN,NaN,3.757468e+06,-1.923860e+07,NaN,NaN
13,13,0005401ceddaf27a9b7f0d42ef1fbe95_1,traj_0005401ceddaf27a9b7f0d42ef1fbe95_1_4,15:35:18,15:42:05,NaN,NaN,NaN,3.760505e+06,-1.935500e+07,NaN,NaN
23,23,0006535be25bb52dd06983447880c964_5,traj_0006535be25bb52dd06983447880c964_5_12,15:22:06,15:22:06,NaN,NaN,NaN,3.776037e+06,-1.916993e+07,NaN,NaN